.App {
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family:
    Copperplate,
    Copperplate Gothic Light,
    fantasy;
}

h2 {
  font-family:
    Copperplate,
    Copperplate Gothic Light,
    fantasy;
}

h3 {
  font-family:
    Copperplate,
    Copperplate Gothic Light,
    fantasy;
}

h4 {
  font-family:
    Copperplate,
    Copperplate Gothic Light,
    fantasy;
}
